@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@font-face {
  font-family: 'Creepster';
  src: url("../fonts/Creepster-Regular.ttf");
  src: local("Creepster-Regular"), format("truetype"); }

@font-face {
  font-family: 'Headhunter';
  src: url("../fonts/Headhunter-Regular.ttf");
  src: local("Headhunter-Regular"), format("truetype"); }

@font-face {
  font-family: 'password';
  src: url("../fonts/password.ttf");
  src: local("password"), format("truetype"); }

*,
*::after,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  padding: 0;
  margin: 0;
  height: auto;
  overflow-x: hidden;
  background-color: #eaeaea; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #33363b; }

p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.9rem;
  font-size: 1.6rem; }

h1 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem; }

h2 {
  font-weight: bolder;
  color: #120437; }

h3 {
  font-weight: normal; }

h4 {
  font-weight: normal;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 0.7rem; }

.sense {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  padding: 1rem 2rem; }
  @media only screen and (max-width: 37.5em) {
    .sense {
      grid-row: 2/3;
      grid-column: 1/2; } }

.sense-bottom {
  grid-row: 4/5;
  grid-column: 2/3;
  width: 100%;
  padding: 1rem 2rem; }
  @media only screen and (max-width: 37.5em) {
    .sense-bottom {
      grid-row: 4/5;
      grid-column: 1/2; } }

.loader-div {
  background-color: #368cbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 1200px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
  @media only screen and (max-width: 75em) {
    .loader-div {
      width: 100vw; } }
  @media only screen and (max-width: 28em) {
    .loader-div {
      width: 100vw; } }

.stop {
  animation: 2s opaque forwards; }

@keyframes opaque {
  0% {
    opacity: 1;
    z-index: 100; }
  100% {
    opacity: 0;
    z-index: -1; } }

.loader-container {
  width: 300px;
  height: 340px; }
  .loader-container img {
    height: 100%;
    width: 100%; }

.ghost {
  animation: float 3s ease-out infinite; }

@keyframes float {
  50% {
    transform: translate(0, 20px); } }

.shadowFrame {
  width: 130px;
  margin: auto;
  margin-top: 25px; }

.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center; }

.shadow ellipse {
  transform-origin: center center; }

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%; }
  50% {
    width: 60%;
    margin: 0 18%; }
  100% {
    width: 90%;
    margin: 0 5%; } }

.sidebar {
  grid-row: 1/7;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  transition: all 0.2s ease-in-out; }
  @media only screen and (max-width: 50em) {
    .sidebar {
      position: absolute;
      width: 100vw;
      z-index: 500;
      height: 100%;
      padding: 3rem; } }
  @media only screen and (max-width: 28em) {
    .sidebar {
      width: 100vw;
      padding: 6rem; } }

.sidebar h2:first-of-type {
  margin-top: 3rem; }

.sidebar ul li {
  list-style-type: none;
  width: 100%; }

.sidebar a {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #594f73;
  width: 100%;
  height: 3rem;
  padding-left: 0.5rem; }

.sidebard a:hover {
  background-color: lightgrey; }

.sidebar__subtitle {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #dcd7eb;
  border-top: 1px solid #2b6498;
  height: 4rem;
  line-height: 1.6;
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin-top: 1rem;
  width: 100%;
  cursor: pointer; }

.sidebard i {
  position: absolute;
  right: 2.2rem;
  top: 20%; }

.sidebar__instructions {
  margin-bottom: 2rem;
  font-size: 1.4rem; }

.sidebar ul,
.sidebar li {
  list-style-type: none; }

.youtube {
  height: 40px;
  width: auto;
  margin-top: 8rem;
  border: none;
  outline: none;
  padding: 10px 0;
  box-shadow: none; }

.sidebar__set {
  display: block;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  height: auto;
  transform: translateY(-0.5rem);
  text-transform: uppercase;
  background-color: green;
  color: white;
  margin-top: 2rem; }

.moveSidebar {
  display: none;
  width: 0;
  background-color: lightgrey; }

#subList1,
#subList2,
#subList3,
#subList4 {
  display: inline-block; }

.icon {
  width: 3rem;
  height: 3rem;
  fill: currentColor; }

.icon:hover {
  fill: darkgrey; }

.sidebar-container {
  grid-row: 1/7;
  grid-column: 1/2;
  height: 100%; }
  @media only screen and (max-width: 50em) {
    .sidebar-container {
      display: none; } }

.block {
  display: block; }

.icon {
  margin-right: 3rem; }

.extra {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 600px;
  height: 620px;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #ffe164;
  border-radius: 12px;
  box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100; }
  @media only screen and (max-width: 62.5em) {
    .extra {
      top: 80%;
      height: 600px; } }
  @media only screen and (max-width: 37.5em) {
    .extra {
      top: 60%;
      width: 320px;
      height: 700px; } }

.extra a {
  color: #2b6498;
  display: inline; }

.extra__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 4rem;
  align-items: center;
  width: 400px;
  height: 640px; }
  @media only screen and (max-width: 37.5em) {
    .extra__content {
      grid-template-columns: 1fr;
      grid-template-rows: 3fr;
      width: 280px;
      grid-gap: 0; } }

.extra-col1,
.extra-col2 {
  grid-template-rows: 1fr 5rem; }

.extra p {
  line-height: 1.4; }

p {
  color: #33363b; }

h4 {
  color: #2b6498; }

.bmc-button {
  grid-row: 2/3;
  justify-self: start;
  align-self: start; }
  @media only screen and (max-width: 37.5em) {
    .bmc-button {
      grid-row: 3/4;
      margin-top: 4rem; } }

.point {
  cursor: pointer; }

.icon-base {
  width: 5em;
  height: 5rem;
  fill: #2b6498; }

.icon-base:hover {
  fill: darkorange; }

.xc {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 30px;
  fill: blue;
  cursor: pointer; }

.xc:hover {
  transform: scale(1.1);
  opacity: 0.8; }

.xxc {
  display: flex; }

.pointer {
  cursor: pointer; }

.nav-bar {
  background-color: #368cbf;
  color: #fff;
  display: grid;
  height: 7rem;
  width: 1200px;
  margin: auto;
  overflow: none;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  grid-template-columns: 3% 7% 15% 50% 25%;
  z-index: 5; }
  @media only screen and (max-width: 75em) {
    .nav-bar {
      width: 100vw; } }
  @media only screen and (max-width: 28em) {
    .nav-bar {
      width: 100vw; } }
  .nav-bar__logo {
    grid-column: 2/3;
    align-self: center;
    justify-self: start; }
  .nav-bar__title {
    grid-column: 3/4; }
  .nav-bar__main {
    grid-column: 4/5;
    text-align: center; }
  @media only screen and (max-width: 50em) {
    .nav-bar__link {
      grid-column: 4/5; } }
  @media only screen and (max-width: 50em) {
    .nav-bar {
      grid-template-columns: 5vw 18vw 1fr 18vw 5vw; } }
  .nav-bar__title {
    font-family: Montserrat, sans-serif;
    margin-right: auto;
    align-self: center;
    font-size: 1.6rem; }
    @media only screen and (max-width: 50em) {
      .nav-bar__title {
        display: none; } }
    @media only screen and (max-width: 37.5em) {
      .nav-bar__title {
        font-size: 1rem; } }
    .nav-bar__title:hover {
      color: #f8e38c; }
    .nav-bar__title-page {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      height: 7rem;
      font-size: 2.4rem; }
      @media only screen and (max-width: 50em) {
        .nav-bar__title-page {
          font-size: 2rem; } }
      .nav-bar__title-page-main {
        line-height: 2.4rem;
        text-align: center; }
      .nav-bar__title-page-deco {
        height: 4rem;
        width: auto;
        margin: 0 2rem; }
        @media only screen and (max-width: 37.5em) {
          .nav-bar__title-page-deco {
            display: none; } }
  .nav-bar__logo-img {
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
    justify-self: center;
    fill: #fff; }
    .nav-bar__logo-img:hover {
      fill: #f8e38c; }
  .nav-bar__links {
    display: flex;
    justify-content: space-evenly; }
  .nav-bar__link {
    font-size: 1.4rem;
    align-self: center;
    color: #fff;
    font-family: Montserrat, sans-serif;
    text-decoration: none; }
    .nav-bar__link:hover {
      color: #f8e38c; }
    @media only screen and (max-width: 50em) {
      .nav-bar__link.link2, .nav-bar__link.link3 {
        display: none; } }

.menu {
  fill: #fff;
  align-self: center;
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 50em) {
    .menu {
      display: block; } }
  .menu:hover {
    fill: #7ebc59; }

.introduction {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 2/3;
  grid-column: 2/3;
  width: 800px;
  height: 600px;
  background-color: #fff;
  align-self: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  margin: 4rem 0;
  padding: 1rem 4rem;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 62.5em) {
    .introduction {
      width: 700px;
      height: 550px; } }
  @media only screen and (max-width: 50em) {
    .introduction {
      width: 600px;
      height: 550px; } }
  @media only screen and (max-width: 37.5em) {
    .introduction {
      grid-template-columns: 1fr;
      width: 350px;
      height: 450px;
      text-align: center; } }
  @media only screen and (max-width: 28em) {
    .introduction {
      justify-content: center;
      width: 350px;
      height: 470px; } }
  .introduction__img {
    grid-column: 1/2;
    width: 390px;
    height: 400px;
    background-color: #368cbf;
    padding: 20px;
    align-self: center;
    justify-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 62.5em) {
      .introduction__img {
        width: 307px;
        height: 350px; } }
    @media only screen and (max-width: 62.5em) {
      .introduction__img {
        width: 263px;
        height: 300px; } }
    @media only screen and (max-width: 37.5em) {
      .introduction__img {
        display: none; } }
    .introduction__img img {
      width: 100%;
      height: 100%; }
  .introduction__text {
    width: 80%; }
    @media only screen and (max-width: 37.5em) {
      .introduction__text {
        width: 90%; } }
  .introduction__text p {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .introduction__text p {
        font-size: 2.4rem;
        line-height: 3rem; } }
  .introduction__text h1 {
    color: #368cbf; }
  .introduction__choices {
    display: flex;
    align-items: center;
    justify-content: center; }
    .introduction__choices p {
      font-weight: bolder; }
  .introduction__set {
    background-color: #F75F1C;
    height: 40px;
    width: 70px;
    border-radius: 8px;
    margin: 1rem 2rem;
    color: #e8e4c9;
    text-transform: uppercase;
    border: none;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 37.5em) {
      .introduction__set {
        padding: 0 1rem; } }
    .introduction__set:hover {
      transform: scale(1.1); }
    .introduction__set:active {
      transform: translateY(2px);
      box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }

.links {
  margin-top: 3rem; }

.imagediv {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 190px;
  z-index: 10;
  top: 50px;
  left: 62px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  transform: rotate(-20deg);
  cursor: pointer; }
  .imagediv h2 {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    font-size: 7rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    letter-spacing: 5px; }
  .imagediv p {
    color: #fff;
    font-size: 2rem; }
  .imagediv img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media only screen and (max-width: 50em) {
    .imagediv {
      display: none; } }

@keyframes loading {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(150%); } }

.countdown {
  position: absolute;
  width: 120px;
  height: 100px;
  top: 10px;
  left: 150px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 3.2rem;
  text-transform: uppercase; }

.countdown h3 {
  font-size: 4rem;
  color: red; }

.wrapper {
  width: 1200px;
  position: relative;
  border: 0.5px solid #120437;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  display: grid;
  align-items: center;
  background-color: #d0eaf8;
  margin: 0 auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 23rem 1fr; }
  @media only screen and (max-width: 75em) {
    .wrapper {
      width: 100vw; } }
  @media only screen and (max-width: 62.5em) {
    .wrapper {
      grid-template-columns: 28rem 1fr; } }
  @media only screen and (max-width: 50em) {
    .wrapper {
      grid-template-columns: 0 1fr; } }
  @media only screen and (max-width: 28em) {
    .wrapper {
      width: 100vw; } }

.jiggle {
  animation: jiggler 1s infinite; }

@keyframes jiggler {
  0% {
    left: 63px;
    top: 48px;
    transform: rotate(-18deg);
    opacity: 1; }
  20% {
    left: 60px;
    top: 47px;
    transform: rotate(-22deg);
    opacity: .7; }
  64% {
    left: 63px;
    top: 46px;
    transform: rotate(-19deg);
    opacity: .4; }
  80% {
    left: 60px;
    top: 51px;
    transform: rotate(-21deg);
    opacity: .2; } }

.content {
  display: grid;
  grid-row: 3/4;
  grid-column: 2/3;
  align-content: center;
  justify-content: center;
  grid-template-rows: 500px 480px 480px;
  grid-template-columns: 470px 470px; }
  @media only screen and (max-width: 62.5em) {
    .content {
      grid-template-columns: 450px;
      grid-template-rows: repeat(6, 500px); } }
  @media only screen and (max-width: 37.5em) {
    .content {
      grid-template-columns: 350px;
      grid-template-rows: repeat(6, 450px); } }

.content-4,
.content-5,
.content-6,
.content-7,
.content-8,
.content-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 430px;
  height: 430px;
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem; }

.content-4,
.content-5,
.content-6,
.content-7,
.content-8,
.content-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  width: 430px;
  height: 450px;
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 50em) {
    .content-4,
    .content-5,
    .content-6,
    .content-7,
    .content-8,
    .content-9 {
      height: auto; } }
  .content-4:hover,
  .content-5:hover,
  .content-6:hover,
  .content-7:hover,
  .content-8:hover,
  .content-9:hover {
    box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.4); }
  .content-4__text,
  .content-5__text,
  .content-6__text,
  .content-7__text,
  .content-8__text,
  .content-9__text {
    width: 400px;
    margin: 1.6rem;
    margin-left: 5%; }
    @media only screen and (max-width: 37.5em) {
      .content-4__text,
      .content-5__text,
      .content-6__text,
      .content-7__text,
      .content-8__text,
      .content-9__text {
        width: 300px; } }
    .content-4__text p,
    .content-5__text p,
    .content-6__text p,
    .content-7__text p,
    .content-8__text p,
    .content-9__text p {
      line-height: 2.2rem;
      padding-right: 1rem; }
    .content-4__text h2,
    .content-5__text h2,
    .content-6__text h2,
    .content-7__text h2,
    .content-8__text h2,
    .content-9__text h2 {
      text-align: center;
      text-transform: uppercase;
      color: #368cbf; }
  .content-4 img,
  .content-5 img,
  .content-6 img,
  .content-7 img,
  .content-8 img,
  .content-9 img {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 3rem;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease; }
    .content-4 img:hover,
    .content-5 img:hover,
    .content-6 img:hover,
    .content-7 img:hover,
    .content-8 img:hover,
    .content-9 img:hover {
      opacity: 0.8; }
    .content-4 img:active,
    .content-5 img:active,
    .content-6 img:active,
    .content-7 img:active,
    .content-8 img:active,
    .content-9 img:active {
      transform: translateY(2px);
      box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }
  .content-4 a,
  .content-5 a,
  .content-6 a,
  .content-7 a,
  .content-8 a,
  .content-9 a {
    color: #368cbf;
    text-decoration: none;
    font-weight: bolder; }

.content-4 img {
  width: 50%;
  margin-left: 25%;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.6); }

.content-6 img {
  width: 70%;
  margin-left: 15%; }

.content-8 img,
.content-9 img {
  width: 85%;
  margin-left: 7.5%; }

.links {
  grid-row: 5/6;
  grid-column: 2/3;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-self: center;
  text-align: center;
  margin: 4rem 0;
  padding: 2rem 0rem;
  background-color: #faebaf;
  justify-content: flex-start;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 62.5em) {
    .links {
      width: 600px; } }
  @media only screen and (max-width: 37.5em) {
    .links {
      justify-content: center;
      width: 400px; } }
  @media only screen and (max-width: 28em) {
    .links {
      justify-content: center;
      width: 350px; } }
  .links__text {
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: #368cbf;
    font-size: 2rem; }
  .links__images {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .links__images {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .links__images-1 {
      width: 40%; }
      .links__images-1 img {
        width: 90%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); }
        .links__images-1 img:hover {
          transform: scale(1.02) translateY(2px);
          box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.4); }
      .links__images-1 figcaption {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1.8rem;
        text-align: center;
        color: #368cbf; }
        .links__images-1 figcaption a {
          text-decoration: none;
          color: #368cbf;
          font-weight: bolder; }

@media only screen and (max-width: 37.5em) {
  .iclass {
    margin-inline-start: -80px; } }

.footer {
  display: flex;
  width: 1200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1.5rem 0;
  height: 7rem;
  background-color: #368cbf;
  border-top: 1px solid #fff;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 75em) {
    .footer {
      width: 100vw; } }
  @media only screen and (max-width: 28em) {
    .footer {
      width: 100vw; } }
  .footer__copyright {
    text-align: center;
    line-height: 1.5; }
    .footer__copyright p {
      font-size: 1.2rem; }

#footer a {
  color: #f8e38c; }
