.content {
  display: grid;
  grid-row: 3/4;
  grid-column: 2/3;
  align-content: center;
  justify-content: center;
  grid-template-rows: 500px 480px 480px;
  grid-template-columns: 470px 470px;

  @media only screen and (max-width: $bp-large){
    grid-template-columns: 450px;
    grid-template-rows: repeat(6, 500px);
  }
  @media only screen and (max-width: $bp-small){
    grid-template-columns: 350px;
    grid-template-rows: repeat(6, 450px);
  }


}

.content-4, .content-5, .content-6, .content-7, .content-8, .content-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 430px;
  height: 450px;
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem;
}

  .content-5, .content-6, .content-7, .content-8, .content-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: $box-shadow-small;
  border-radius: 5px;
  background-color: #fff;
  width: 430px;
  height: 450px;
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem;

  

  @media only screen and (max-width: $bp-small){
    height: 430px;
  }

  &:hover {
    box-shadow:2px 2px 5px 4px rgba(0,0,0,0.4);
  }


  &__text {
    width: 400px;
    height: 70px;
    margin-top: 1.6rem;
    margin-left: 5%;

    @media only screen and (max-width:$bp-small){
      width: 300px;
    }
 
    & p {
      line-height: 2.2rem;
      padding-right: 1rem;
    }

    & h2 {
      text-align: center;
      text-transform: uppercase;
      color: $color-blue;
    }

  }

  & img {
  width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 3rem;
    box-shadow: $box-shadow-large;
    transition: all .5s ease;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: translateY(2px);
      box-shadow: $box-shadow-small;
    }
  }

  & a {
    color:$color-blue;
    text-decoration: none;
    font-weight: bolder;
  }


}

.content-6 img {
  width: 70%;
  margin-left: 15%;
}
.content-8 img,
.content-9 img {
  width: 90%;
  margin-left: 5%;

}





