.gridfiller {
    grid-row: 1/7;
    grid-column: 1/2;
    background-color: white;
    height: 100%;
    width: 23rem;
}

// .extra {
//   position: absolute;

//   top: 40%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 10;
//   width: 700px;
//   height: 620px;
//   align-items: center;
//   justify-content: center;
//   font-family: Montserrat, sans-serif;
//   font-size: 1.6rem;
//   line-height: 1.7;
//   background-color: $color-yellow;
//   border-radius: 12px;
//   box-shadow: 3px 3px 4px 4px rgba(0,0,0,0.5);
//   display: none;
 
//   @media only screen and(max-width: $bp-large){
//     top: 20%;
//     height: 450px;
//     padding-top: 7rem;
//   }
//   @media only screen and(max-width: $bp-small){
//     top: 60%;
//     origin: center;
//     width: 320px;
//     height: 700px;
//   }


//   & a {
//   color: $color-blue;
//   display: inline;
//   }


//   &__content {
//     display: grid;
//     grid-template-columns: repeat(2, minmax(0, 1fr));
//     grid-column-gap: 4rem;
//     align-items: center;
//     width: 600px;
//     height: 600px;

//     @media only screen and(max-width: $bp-small){
//       grid-template-columns: 1fr;
//       grid-template-rows: 3fr;
//       width: 280px;
//       grid-gap: 0;
//     }


//     &-col1,
//     &-col2 {
//       grid-template-rows: 1fr 5rem;
//       p {
//         line-height: 1.4;
//       }
//     }

//   }
// }

// .bmc-button {
//   grid-row: 2/3;
//   justify-self: start;
//   align-self: start;
  
//   @media only screen and(max-width: $bp-small){
//     grid-row: 3/4;
//     margin-top: 4rem;
//   }
// }


// .icon-base {
//   width: 5em;
//   height: 5rem;
//   fill: currentColor;

//   &:hover {
//     fill: $color-orange;
//   }

// }

// .xc {
//   position: absolute;
//   z-index: 10;
//   top: 20px;
//   right: 30px;
//   fill: $color-blue;
//   cursor: pointer;

//   &:hover {
//     transform: scale(1.10);
//     opacity: 0.8;
//   }
// }

// .xxc {
//   display: flex;
// }
